<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intellinectsschool.intellinects.com.v4flavors">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Fcm.IntellinectsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.HomeActivity"
                  android:screenOrientation="portrait"
        />

        <activity android:name=".Activities.EventsActivity"
                  android:screenOrientation="portrait"
        />

        <activity android:name=".Activities.EventDetailsActivity"
                  android:screenOrientation="portrait"

        />


        <activity android:name=".Activities.NewsActivity"
                  android:screenOrientation="portrait"

        />


        <activity android:name=".Activities.NewsDetailsActivity"
                  android:screenOrientation="portrait"

        />

        <activity android:name=".Activities.WebViewActivity"
                  android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Activities.SplashActivity"
                  android:theme="@style/FullscreenTheme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>